$shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
$dark-gray: rgba(0, 0, 0, 0.5);
$light-gray: #e8e8e8;
$font: 'Open Sans', sans-serif;
$off-white: #fafafa;
$light-blue: rgba(0, 188, 212,1);
$light-blue-hover: rgba(0, 188, 212, 0.75);
$light-red: rgba(255, 0, 0, 1);
$light-green: #eaffea;
$red: #ffd4d4;
$green: #d5fbd5;
