$bar-black: #181818;

.menu-bar{
  background-color: $bar-black;
  padding-top: 2vh;
  width:100vw;
  height:5vh;
  padding-left:37.5vw;
  position:fixed;
  bottom:0;
  opacity: .95;
}

.menu-icon{
  width:2vw;
  height:2vw;
  padding-right: 1.5vw;
  //padding-bottom: 1vw;
  transition: all .15s linear;
  opacity: .65;
  &:hover{
    transform: scale(1.15);
    opacity: .9;
  }
}
