$bar-black: #181818;

.menu-bar{
//  background-color: $bar-black;
  //padding-top: 49vh;
  width:100vw;
  height:7vh;
  padding-top:2vh;
  padding-left:34.5vw;
  position:fixed;
}

.menu-icon{
  width:2vw;
  height:2vw;
  padding-left: 1.5vw;
  padding-bottom: 1vw;
  transition: all .15s linear;
  opacity: 1;
  &:hover{
    transform: scale(1.15);
    opacity: .7;
  }
}
