@import '../../styles/cssVariables';
@import '../../styles/main';

.skill-set{
  position: absolute;
  margin-left: 20vw;
  width:60vw;
  font-size: 15px;
  padding: 5px;
  margin-top:65vh;
  text-align: center;
  //border:3px solid rgba(24, 24, 24, .8);
  border-radius: 15px;

}

.skill{
  margin: 5px;
  background-color: #00FF96;
  padding:5px;
  color:white;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
font-weight: 600;
  -webkit-font-smoothing: antialiased;
  transition: transform .1s linear;
  opacity:.8;
  &:hover{
    transform: scale(1.1);
    cursor: auto;
  }
}
